body{
    background-color: gray;
    font-size: 25px;
    color: black;
    text-align:center ;
    font-family: 'Montserrat', sans-serif;
}

p{
    font-size: 20px;
    color: white;
}
#bolinhasdepelo{
    color: blue;
    font-size: 20px;
    font-weight: bolder;
}
#cachorrinhos{
    width: 100%;
}