body{
    background-color: gray;
    font-size: 25px;
    color: black;
    text-align:center ;
}

p{
    font-size: 20px;
    color: white;
}
#bolinhasdepelo{
    color: blue;
    font-size: 20px;
    font-weight: bolder;
}